.main-container{
    width:30%;
    height : auto;
    margin : 0 auto;
}

.main-container h1{
    font-family: 'Robot';
}

.calc-grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    margin: 2rem;

}

.button{
    width:75%;
    aspect-ratio: 1;
    border-radius: 15px;
}